<div class="card" style="width: 18rem;">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="card-title">{{employee-name}}</h5>
            </div>
            <div class="col-sm-6 icon">
                <i class="fas fa-coffee fa-3x"></i>
            </div>
        </div>
        <h6 class="card-subtitle mb-2 text-muted">Intern</h6>
        <p class="card-text">ID: {{employee-id}}</p>
        <p class="card-text">Email: {{employee-email}}</p>
        <p class="card-text">School: {{employee-school}}</p>
    </div>
</div>